{% extends "base.html" %}
{% block body %}
<div class="card">
  <div class="title">Order Details #{{ order[0] }}</div>
  <div class="subtitle">Complete order information.</div>

  <div class="card soft">
    <div class="subtitle">
      <b>Address:</b><br>{{ order[1] }} <br><br>

      <b>Pickup:</b> {{ order[2] }} {{ order[3] }} <br><br>

      <b>Service:</b> {{ order[4] }} <br>
      <b>Weight:</b> {{ order[5] }} kg <br><br>

      <b>Service Price:</b> ₹{{ order[6] }} <br>
      <b>Delivery Charge:</b> ₹{{ order[7] }} <br>
      <b>Total:</b> ₹{{ order[8] }} <br><br>

      <b>Payment:</b> {{ order[9] }} <br>
      <b>Status:</b> {{ order[10] }} <br>
      <b>Created At:</b> {{ order[11] }}
    </div>
  </div>

  <div class="row">
    <a class="btn btn2" href="/orders">⬅ Back to Orders</a>
    <a class="btn" href="/invoice/{{ order[0] }}">🧾 Invoice</a>

    {% if order[10] == "Pending" %}
    <form method="POST" action="/orders/{{ order[0] }}/cancel">
      <button class="btn btn2" type="submit">❌ Cancel Order</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
